<configuration debug="true">

  <include resource="assets/LogcatAppender.xml"></include>
  <!--<include resource="assets/SmtpAppender.xml"></include>-->

  <property name="LOG_DIR" value="${DATA_DIR}/logs"></property>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_DIR}/test.%d{yyyy-MM-dd-HH, UTC}.log</file>
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--<appender name="ASYNC_EMAIL" class="ch.qos.logback.classic.AsyncAppender">-->
    <!--<discardingThreshold>0</discardingThreshold>-->
    <!--<appender-ref ref="EMAIL" />-->
  <!--</appender>-->

  <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <root level="DEBUG">
    <appender-ref ref="LOGCAT" />
    <!--<appender-ref ref="ASYNC_EMAIL" />-->
    <appender-ref ref="ASYNC_FILE" />
  </root>

</configuration>
